@font-face { font-family: Titillium; src: url('fonts/Titillium-Regular.otf'); } 
@font-face { font-family: Capture; src: url('fonts/Capture_it.ttf'); } 

.helptext {
    color: gray;
    font-size: 12px;
}

.content th, td {
    padding: 5px;
    text-align: left;
}

p.upper {
    text-transform: uppercase;
}

h1 {
	font-family: Titillium;
}

h2 {
	font-family: Titillium;
}

h3 {
	font-family: Titillium;
}

h1 a:hover {
	text-decoration: none;
}

.titlebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: #333;
}

.titlebar li {
    padding: 22px;
    float: left;
}

.titlebar h1 a {
	font-family: Capture;
    font-size: 54px;
    display: block;
}

.content {
	margin-left: 210px;
    padding: 10px 15px;
}

.success p {
    color: green;
}

.error p {
    color: red;
}

.sidebar ul {
    margin: 0;
    padding: 0;
	width: 200px;
    background-color: #333;
	list-style-type: none;
    height: 100%;
    position: fixed;
    overflow: auto;
    border-width: 0;
}

.sidebar li a {
    display: block;
    color: white;
    padding: 8px 0 8px 16px;
    text-decoration: none;
    border-width: 0;
}

.sidebar li a:hover {
    background-color: #555;
    color: white;
}

.active {
    background-color: #000;
    color: white;
}
